
<body>
    <app-navbar></app-navbar>

 <div class="container">
    <div class="container1">
        <h3>Médecin</h3>

        <div class="search-line">
            <div class="box1">  <input type="text" class="form-control"  placeholder="Nom/spécialité" ></div>
            <div class="box2"><button type="submit" class="search-btn"><i class="fa fa-search" ></i></button>

            </div>
        </div>

        <div class="form-group"> <img src= "assets\images\doctor.png">  </div>

    </div>

    <div  class="container2" >




         <div class="box ">
            <div class="card1"><img src="assets\images\doctor.png"></div>
            <div class="card2">
                <p><i class="fas fa-user-md"></i>  Hadhemi</p>
                <p><i class="fas fa-stethoscope"></i>  Nutrisioniste</p>
                <p><i class="fas fa-map-marker-alt"></i>  Kairouen nord kairouen tunisie</p>
            </div>
            <div class="card3">

                <button class="btn-card3"[routerLink]="['/date']" ><i class="far fa-calendar-check" ></i>Prendre un rendez-vous</button>

            </div>
        </div>


        <div class="box ">
            <div class="card1"><img src="assets\images\doctor.png"></div>
            <div class="card2">
                <p><i class="fas fa-user-md"></i>  fawezTeka</p>
                <p><i class="fas fa-stethoscope"></i>  Generaliste </p>
                <p><i class="fas fa-map-marker-alt"></i> Farhad Hached Sousse</p>
            </div>
            <div class="card3">



                <button class="btn-card3"[routerLink]="['/date']"><i class="far fa-calendar-check"></i>Prendre un rendez-vous</button>
            </div>

        </div>


        <div class="box ">
            <div class="card1"><img src="assets\images\doctor.png"></div>
            <div class="card2">
                <p><i class="fas fa-user-md"></i>  Yassine Toumi </p>
                <p><i class="fas fa-stethoscope"></i>  psychiatre </p>
                <p><i class="fas fa-map-marker-alt"></i>  Monastir tunisie</p>
            </div>
            <div class="card3">

                <button class="btn-card3"[routerLink]="['/date']"><i class="far fa-calendar-check"></i>Prendre un rendez-vous</button>
            </div>

        </div>

        <div class="box ">
            <div class="card1"><img src="assets\images\doctor.png"></div>
            <div class="card2">
                <p><i class="fas fa-user-md"></i>  Chaima Takaya</p>
                <p><i class="fas fa-stethoscope"></i>  Nutrisioniste</p>
                <p><i class="fas fa-map-marker-alt"></i>  Kairouen nord kairouen tunisie</p>
            </div>
            <div class="card3">

                <button class="btn-card3"[routerLink]="['/date']"><i class="far fa-calendar-check"></i>Prendre un rendez-vous</button>
            </div>


        </div>
    </div>


</div>


<app-footer></app-footer>
</body>

