<app-navbar></app-navbar>
<div class="container1">
<div class="container my-5">
    <form [formGroup] = "registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label for="firstname">Nom</label>
                    <input type="text" name="firstname" id="firstname" class="form-control" [(ngModel)]="registerUserData.firstname" formControlName="firstName">

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="lastname">Prénom</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" [(ngModel)]="registerUserData.lastname" formControlName="lastname">

                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="registerUserData.email" formControlName="email" aria-describedby="emailHelp">

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="phone">NTéléphone</label>
                    <input type="text" name="phone" id="phone" class="form-control" [(ngModel)]="registerUserData.phone" formControlName="phone">

                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe </label>
                    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="registerUserData.password" formControlName="password" [type]="showPasswordOnPress ? 'text' : 'password'">
                    <div (mousedown)="showPasswordOnPress = !showPasswordOnPress"
            (mouseup)="showPasswordOnPress = !showPasswordOnPress" >


            <i alt="show" class="fa fa-eye eye-show"

            [class.hide]="showPasswordOnPress" ></i>
        </div>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="repeatPassword">Confirmer votre mot de passe </label>
                    <input type="password" class="form-control" id="repeatPassword" formControlName="repassword" [type]="showPasswordOnPress ? 'text' : 'password'">
                    <div (mousedown)="showPasswordOnPress = !showPasswordOnPress"
            (mouseup)="showPasswordOnPress = !showPasswordOnPress" >


            <i alt="show" class="fa fa-eye eye-show"

            [class.hide]="showPasswordOnPress" ></i>
        </div>

                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <button type="submit" class="btn btn-primary">S'inscrire</button>
<!-- //lena ki na7i disabled ywali ma3atech yverifi les champs  -->
            </div>
        </div>

    </form>
</div>
<div class="img">
    <img src= "assets/images/patient.png"  width="500px">
</div>
</div>
<app-footer></app-footer>

