
<body><nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']"> <span class="s">S</span><span class="a">A</span><span class="m">M</span><img src="assets\images\lo.png" width="50px"> </a>



    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <button class="btn btn-info my-2 my-sm-0" [routerLink]="['/login']">S'authentifier</button>
            <button class="btn btn-primary mx-3 my-2 my-sm-0" [routerLink]="['/register']">S'inscrire</button>

        </form>
    </div>
</nav>
