
<div class="row">
  <div class="col-xl-8 offset-xl-2">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Information sur l'hopital</h3>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="card">
      <div class="card-body">

        <!-- Form -->
        <form *ngFor="let hopital of hopitals ; let i = index">
       



        </form>
        <!-- /Form -->

      </div>
    </div>
  </div>
</div>



