
<app-adminnavbar></app-adminnavbar>

<div class="container my-5">

    <div class="row">
        <div class="col">
            <h1>liste des hôpitaux</h1>
            <button class="btn1 btn-primary my-3" [routerLink]="['/addhopital']">Ajouter les hôpitaux</button>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <table  class="table">
                <thead>
                    <tr>
                        <th>Nom des Hôpitaux</th>
                        <th>Adresse des hôpitaux<th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hopital of hopitals ; let i = index">

                        <td>{{hopital.nom}}</td>
                        <td>{{hopital.address}}</td>
                        <td>
                           <ul>
                            <li><button class="btn3 btn-info" [routerLink]="['/updatehopital',hopital._id]">Modifier</button></li>


                            <li><button 
                              class="btn2 btn-danger mx-3"

                             (onclick) ="delete(hopital._id)"


                            >
                            Supprimer
                            </button>
                          </li>

                        </ul>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>

</div>






<app-footer></app-footer>


